<mat-card class="card-busca" fxFlex="100%">
  <h1>Buscar Partituras</h1>
  <mat-form-field appearance="fill" class="main-form-field">
    <mat-label>Buscar</mat-label>
    <input matInput type="text">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <h3>ou clique aqui e explore nossa biblioteca</h3>

  <p>Fornecemos gravações, partituras e livros didáticos ao público,
    sem restrições de direitos autorais. <br>
    Simplificando, nossa missão é liberar músicas.</p>

</mat-card>
