<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item href="/home#historia" (click)="onSidenavClose()">
      <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">História</span>
  </a>
  <a mat-list-item href="/home#planos" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Planos</span>
  </a>
  <a mat-list-item href="/home#contato" (click)="onSidenavClose()">
      <mat-icon>account_balance</mat-icon><span class="nav-caption">Contato</span>
  </a>
</mat-nav-list>
